// Variables
$white-color: #ffffff;
$red-color: red;
$yellow-color:#ffcc00;
$dark-color: #000;

// Media queries
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;